@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--verde: #414C48;
	--verdeClaro: rgb(0, 200, 0);
	--nude: #B6A490;
	--nudeClaro: #EBE6E0;
}

body {
	width: 100%;
}

header {
	width: 90vw;
	height: 10rem;
	overflow-x: hidden;
	margin: 0rem 5rem;
}

header a {
	color: black;
	text-decoration: none;
	padding: 5px;
	transition: 0.3s;
	font-size: 1.2rem;
}

header a:hover {
	color: var(--verdeClaro);
}


header>nav {
	display: flex;
	width: 100%;
	height: 10rem;
	justify-content: space-around;
	align-items: center;
}

header img {
	max-width: 10rem;
}

.nav-list {
	list-style: none;
	transform: translate(60rem);
	transition: all 0.5s;
}

.nav-list li {
	display: inline;
	margin-left: 10px;
	padding: 5px;
}

menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.btn-menu {
	background: none;
	border: none;
	font: inherit;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding-block: 1rem;
	cursor: pointer;
}

.hamburguer {
	border-top: 0.125rem solid black;
	width: 1.25rem;
}

.hamburguer::before,
.hamburguer::after {
	content: '';
	display: block;
	width: 1.25rem;
	height: 0.125rem;
	background: black;
	margin-top: 0.3125rem;
	position: relative;
	transition: 0.3s;
}

.nav.active .nav-list {
	transform: translate(0, 0);
	visibility: visible;
}

.nav.active .hamburguer {
	border-top: transparent;
}

.nav.active .hamburguer::before {
	background: var(--verdeClaro);
	transform: rotate(135deg);
}

.nav.active .hamburguer::after {
	background: var(--verdeClaro);
	transform: rotate(-135deg);
	top: -0.4375rem;
}

main {
	width: 85%;
	margin: auto;
}

main p {
	font-size: 1.2rem;
	text-indent: 4rem;
	line-height: 2rem;
	text-align: justify;
	font-weight: 400;
}

.descrição-escritorio {
	width: 80%;
	position: relative;
	left: 20%;
}

section {
	margin-bottom: 10rem;
}

section h1 {
	text-align: center;
	margin: 2rem;
	font-size: 3rem;
	font-variant: small-caps;
}

section h2 {
	text-align: center;
	padding: 1rem;
	margin: 2rem;
	font-size: 2rem;
	font-variant: small-caps;
}

section img {
	width: 30%;
}

.projetos {
	height: 40rem;
	position: relative;
}

.slider {
	transform: translate(40%, -9%);
	width: 75%;
	height: 35rem;
	margin: 4rem 0rem;
	overflow: hidden;
}

.slides {
	width: 400%;
	height: 35rem;
	display: flex;
}


.slide {
	width: 25%;
	position: relative;
}

.slide>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.manual-navigation {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	margin-top: -6rem;
}

.manual-btn {
	background-color: var(--nude);
	margin-top: 1rem;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.manual-btn.ativo {
	background-color: var(--verde);
	padding: 6px;
}

.manual-btn {
	margin-right: 2rem;
}

.first {
	transition: 0.5s;
}

.conteiner-desc {
	width: 35%;
	height: 30%;
	background: #ffffff;
	position: relative;
	transform: translate(0%, -100%);

}

.desc-proj {
	position: absolute;
	opacity: 0;
	transition: opacity 0.3s;
	padding: 5px;
	z-index: 1;
}

.desc-proj.ativo {
	z-index: 2;
	opacity: 1;
}

.desc-proj h3 {
	font-size: 1.5rem;
	margin: 1rem;
	font-variant: small-caps;
}

.desc-proj p {
	margin: 1rem;
	font-size: 1rem;
}

.desc-proj a {
	display: block;
	width: 100%;
	text-align: right;
	font-size: 1.3rem;
	text-decoration: none;
	margin-left: -1rem;
	transition: all 0.3s;
}

.desc-proj.ativo a:hover {
	color: var(--verdeClaro);
}

.sess-sociais article {
	margin: 1rem;
	font-size: 1.5rem;
}

.sess-sociais ul {
	text-align: right;
	list-style: none;
	margin: 1rem;
	padding: 1rem;
}

.sess-sociais ul li {
	padding: .5rem;
}

.sess-sociais a {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	transition: all 0.3s;
}

.sess-sociais a:hover {
	color: var(--verdeClaro);
}

.conteiner {
	display: grid;
	grid-template-columns: 25% 25% 1fr;
	gap: 2rem;
}

.conteiner img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}


footer {
	display: block;
	width: 100%;
	height: 200px;
	background-color: var(--nude);
}

.social-midia {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-midia>img {
	max-width: 9rem;
}

.menu-roda {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: -1rem;
	height: 200px;
}

.menu-roda a {
	text-decoration: none;
	padding: 5px;
	transition: 0.3s;
	color: black;
	font-size: 2rem;
}

.menu-roda a:hover {
	color: var(--nudeClaro);
}

.contato-escritorio p {
	text-align: center;
}

.contato-escritorio a {
	text-decoration: none;
	color: black;
	transition: all 0.3s;
}

.contato-escritorio a:hover {
	color: var(--verdeClaro);
}

footer ul {
	list-style: none;
}

footer ul li {
	padding: .3rem;
	font-size: 2rem;
}

.menu-roda {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 2rem;
	height: 200px;
}

.menu-roda h1 {
	margin-bottom: 1rem;
}

.menu-roda p {
	display: flex;
	align-items: center;
	max-width: 10re;
	margin-left: 8px;
	justify-content: center;
}

.menu-roda i {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(128, 128, 128, 0.255);
	font-size: 2rem;
	width: 2.5rem;
	height: 2.5rem;
	color: var(--verde);
	border-radius: 50%;
}

.menu-roda i:hover {
	background-color: rgb(0, 63, 0);
	color: var(--nudeClaro);
	transition: .5s;
}

.menu-roda p :not(:first-child) {
	margin-left: 1rem;
}

footer .copy {
	background-color: var(--verde);
	color: var(--nudeClaro);
	font-size: .7rem;
	padding: 10px;
	text-align: center;
	margin-top: -4px;
}


@media (max-width: 600px) {

	header {
		width: 83vw;
	}

	main {
		width: 95%;
		margin: 0rem;
	}

	.descrição-escritorio {
		width: 95%;
		left: 5%;
	}

	.nav-list {
		display: block;
		position: absolute;
		background: white;
		text-align: center;
		top: 10rem;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 1;
		overflow-y: hidden;
		visibility: hidden;
		transition: 0.5s;
		transform: translate(0rem, 0rem);
	}

	.nav-list li {
		display: block;
	}

	.btn-menu {
		background: none;
		border: none;
		font: inherit;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding-block: 1rem;
		cursor: pointer;
	}

	.hamburguer {
		border-top: 0.125rem solid black;
		width: 1.25rem;
	}

	.hamburguer::before,
	.hamburguer::after {
		content: '';
		display: block;
		width: 1.25rem;
		height: 0.125rem;
		background: black;
		margin-top: 0.3125rem;
		position: relative;
		transition: 0.3s;
	}

	.nav.active .nav-list {
		height: calc(100vh - 6rem);
		visibility: visible;
	}

	.nav.active .hamburguer {
		border-top: transparent;
	}

	.nav.active .hamburguer::before {
		background: var(--verdeClaro);
		transform: rotate(135deg);
	}

	.nav.active .hamburguer::after {
		background: var(--verdeClaro);
		transform: rotate(-135deg);
		top: -0.4375rem;
	}

	.projetos {
		height: 50rem;
		position: relative;
	}

	.slider {
		transform: translate(3%, -10%);
		width: 100%;
		height: 35rem;
		margin: 4rem 0rem;
		overflow: hidden;
	}

	.manual-navigation {
		justify-content: center;
	}

	.manual-btn {
		margin-right: 4rem;
	}

	.projetos {
		height: 50rem;
		position: relative;
	}

	.slider {
		transform: translate(3%, -10%);
		width: 100%;
		height: 35rem;
		margin: 4rem 0rem;
		overflow: hidden;
	}

	.manual-navigation {
		justify-content: center;
	}

	.manual-btn {
		margin-right: 3rem;
	}

	.conteiner-desc {
		width: auto;
		height: auto;
	}

}